#!/bin/bash

export GITHUB_PERSONAL_ACCESS_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export GITHUB_USER=luisarizmendi

# location of dockerconfigjson: /run/user/1000/containers/auth.json



cat << EOF > /tmp/quay-robot.txt
{
        "auths": {
                "quay.io": {
                        "auth": "bHxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxVK"
                }
        }
}
EOF

QUAY_BUILD_SECRET=$(cat /tmp/quay-robot.txt | base64 -w0)

export QUAY_BUILD_SECRET
